@{
    ViewBag.Title = "FormLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FormLayout.css")" />
}

@section PageToolbar {
    @Html.DevExpress().Menu(menuSettings => {
    menuSettings.Name = "pageToolbar";

    menuSettings.ItemAutoWidth = false;
    menuSettings.AllowSelectItem = false;
    menuSettings.ApplyItemStyleToTemplates = true;

    menuSettings.SettingsAdaptivity.Enabled = true;
    menuSettings.SettingsAdaptivity.EnableAutoHideRootItems = true;
    menuSettings.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;
    menuSettings.SettingsAdaptivity.CollapseRootItemsToIconsAtWindowInnerWidth = 600;

    menuSettings.Width = Unit.Percentage(100);
    menuSettings.ControlStyle.SeparatorWidth = Unit.Pixel(0);
    menuSettings.ControlStyle.CssClass = "page-toolbar";

    menuSettings.Styles.Item.CssClass = "item";
    menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;

    menuSettings.Images.Item.Width = Unit.Pixel(16);
    menuSettings.Images.Item.Height = Unit.Pixel(16);

    menuSettings.Items.Add(item => {
        item.Enabled = false;
        item.SetTemplateContent(template => ViewContext.Writer.Write("<h1>Form Layout</h1>"));
    });
}).GetHtml()

}

@section LeftPanelContent {
    @Html.Partial("LeftPanelPartial")
}

@section RightPanelContent {
    <div class="settings-content">
        <h2>Settings</h2>
        <p>Place your content here</p>
    </div>
}

@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.DevExpress().PageControl(
        settings => {
            settings.Name = "pcScrolling";
            settings.Width = Unit.Percentage(100);
            settings.EnableTabScrolling = true;

            settings.TabPages.Add("Page 1").SetContent(() => {
                ViewContext.Writer.Write(@Html.Partial("FirstPagePartial"));
            });
            settings.TabPages.Add("Page 2").SetContent(() => {
                ViewContext.Writer.Write(@Html.Partial("SecondPagePartial"));
            });
            settings.TabPages.Add("Page 3").SetContent(() => {
                ViewContext.Writer.Write(
                     "<div class=\"formLayoutContainer\"><p>Page Content 3</p></div>"
                    );
            });
            settings.TabPages.Add("Page 4").SetContent(() => {
                ViewContext.Writer.Write(
                     "<div class=\"formLayoutContainer\"><p>Page Content 4</p></div>"
                    );
            });
            settings.TabPages.Add("Page 5").SetContent(() => {
                ViewContext.Writer.Write(
                     "<div class=\"formLayoutContainer\"><p>Page Content 5</p></div>"
                    );
            });
        }).GetHtml()

}
